:root{
    box-sizing: border-box;
}
    
@font-face {
    font-family: "Nintendo";
    src: url('Nintendo-DS-BIOS copy.ttf');
}

body{
    font-family: "Nintendo", Fallback, Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

h1 {
    font-weight: bolder;
    font-size: 3em; 
    color: rgb(150, 65, 35);
}

#instruct {
    font-size: 1.5em;
}

#restart {
    font-size: 3em;
}

#cursor {
    font-size: 0.9em;
    color: rgb(99, 154, 232);
    text-decoration: none;

}

main {
    margin-bottom: 3em;
}

#maze {
    position: relative;
    /* height: 500px; */
    width: 630px;
    height: 450px;
    background-color: rgb(243, 220, 145);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row{
    /* border: 1px solid hotpink; */
    flex-grow: 1;
    display: flex;
}

.block {
    flex-grow: 1;
}

.block.wall {
    background-color: rgb(65, 140, 50);
}

.block.start {
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 0px;
    height: 0px;
    color: rgb(150, 65, 35);
}

.block.finish {
    color: rgb(150, 65, 35);
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 0;
    height: 0;

}

#link {
    width: 5%;
    position: absolute;
    top: 270px;
    left: 0px;
}

#triforce {
    width:4%;
    position: absolute;
    top: 240px;
    left: 605px;
}

#grabTriforce{
    width:4%;
    position: absolute;
    top: 225px;
    left: 605px;
}

#restart {
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

body.pointer {
    cursor: pointer;
}

footer {
    background-color: rgb(31, 4, 4);
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

address a {
    position: relative;
    margin-top: 0;
}

.icon-before {
    top: 1;
    right: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-main);
    margin: 1rem 1rem;
    display: -webkit-inline-box;
}

.icon-before::before, .icon-before::after{
    display: inline-block;
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.icon-before::before {  
    content: "\f111";
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    color: var(--bg-primary);
    color: rgb(150, 65, 35);
}

.icon-after::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    position: absolute;
    /* color: rgb(65, 140, 50); */
}
    #website::after {
        content: "\f015";
    }
    #twitter::after {
        content: "\f099";
    }
    #linkedin::after {
        content: "\f0e1";
    }
    #github::after {
        content: "\f09b";
    }
    #resume::after {
        content: "\f15c";
    }

