:root{
    box-sizing: border-box;
}
    
@font-face {
    font-family: "Nintendo";
    src: url('Nintendo-DS-BIOS copy.ttf');
}

body{
    font-family: "Nintendo", Fallback, Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}
h1 {
    font-weight: bolder;
    font-size: 3em; 
    color: rgb(150, 65, 35);
}

#instruct {
    font-size: 1.5em;
}

#cursor {
    font-size: 0.9em;
    color: rgb(99, 154, 232);

}

#maze {
    position: relative;
    /* height: 500px; */
    width: 630px;
    height: 450px;
    background-color: rgb(243, 220, 145);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row{
    /* border: 1px solid hotpink; */
    flex-grow: 1;
    display: flex;
}

.block {
    flex-grow: 1;
}

.block.wall {
    background-color: rgb(65, 140, 50);
}

.block.start {
    background-color: fuchsia;
    font-size: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 0px;
    height: 0px;
    color: rgb(150, 65, 35);
}

.block.finish {
    color: rgb(150, 65, 35);
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 0;
    height: 0;

}

#link{
    width: 5%;
    position: absolute;
    top: 270px;
    left: 0px;
}

#triforce{
    width:4%;
    position: absolute;
    top: 240px;
    left: 605px;
}

#grabTriforce{
    width:4%;
    position: absolute;
    top: 225px;
    left: 605px;
}

