:root{
    box-sizing: border-box;
}
    
#maze {
    height: 500px;
    background-color: goldenrod;
    display: flex;
    flex-direction: column;

}

.row{
    /* border: 1px solid hotpink; */
    flex-grow: 1;
    display: flex;
}

.block {
    flex-grow: 1;
}

.block.wall {
    background-color: forestgreen;
}

#start {
    background-color: fuchsia;
}

#finish {
    background-color: honeydew;
}